:root {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background: rgb(59, 58, 73);
    display: grid;
    align-items: center;
}
.card-area {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    min-width: 500px;
    min-height: 400px;
    padding: 1rem; 
    border: 2px solid red;
    background: rgb(108, 107, 122);
}
.card {
    padding: 5rem 4rem;
    background: pink;
    border-radius: 15px;
    transition: 200ms transform;
    font-size: clamp(min(1rem, 100%), 2rem, 100%);
}
.card:hover {
    transform: scale(1.02);
    background: rgb(255, 129, 150);
}

.card.clicked {
    transform: scale(1.05);
    outline: rgb(255, 178, 91) 5px dotted;
}
@keyframes flip {
    from {
        transform: rotateY(0);
        background: pink;
    }
    to {
        transform: rotateY(180deg);
        background: rgb(143, 93, 101);
    }
}

